#minor-publishing-actions,
.misc-pub-section.misc-pub-post-status,
.misc-pub-section.misc-pub-visibility,
.tablenav.top,
#normal-sortables,
#edit-slug-box {
    display: none;
}
.vote-desc {
    border-right: 1px solid #ddd;
    float: left;
    padding-right: 25px;
    width: 500px;
}
.vote-desc h1 {
    line-height: 1em;
}
.vote-desc p {
    text-align: justify;
}
.vote-tools {
    float: right;
    width: 300px;
}
#voting_chart {
    margin-left: 25px;
}
.vote-button,
.vote-button:hover {
    color: #fff;
    box-shadow: none;
    font-size: 14px;
    height: 30px;
}
.vote-yes {
    background-color: rgb(118, 191, 49);
    border-color: rgb(62, 120, 6);
}
.vote-yes:hover {
    background-color: rgb(86, 165, 11);
}
.vote-no {
    background-color: rgb(203, 35, 35);
    border-color: rgb(168, 7, 7);
}
.vote-no:hover {
    background-color: rgb(204, 0, 0);
}
.vote-abstain {
    background-color: #666;
    border-color: #333;
}
.vote-abstain:hover {
    background-color: #444;
}
.ui-icon {
    display: inline;
    font-size: 25px;
    line-height: 30px;
}
.vote-options {
    border-left: 4px solid rgb(237, 212, 50);
    padding: 1px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.vote-options label {
    line-height: 30px;
}
.vote-options span {
    font-size: 16px;
}
#agora-vote-desc-wrapper {
    margin-top: 40px;
}
#agora-vote-options-wrapper input {
    font-size: 18px;
    height: 35px;
}
